/* général */

body{
    width: 99%;
}
main a{
    z-index: 1;
}

/* haut/header Debut */
header{
    display: flex;
    width: 60%;
    background: linear-gradient(#e9bf81,#807f7f) ;
    margin: 0 auto;                 /* Marges externes */
    padding: 25px 55px;             /* Marges internes */
}
header h1{
    flex:auto;
    text-align: center;
    font-family: system-ui;
    font-size: 50px;
}
@media screen and (max-width:1024px) {
    header{
        display: block;
    }
    header i{
        text-align: center;
        width: 100%;
    }
}
/* haut/header Fin */

/* nav Debut */
nav{
    width: 7%;
    position: relative;
    top: 200px;
    left: 100px;
}
nav li{
    list-style-type: none;
    margin: 18px 0;
    font-size: 20px;
}
nav a{
    text-decoration: none;
    color: grey;
    padding: 0.4em;
}
nav a.actif{
    text-decoration: none;
    color: black;
    border: outset ;
}
nav a:hover{
    text-decoration: none;
    color: rgb(105, 91, 181);
    padding: 0.4em;
    border-bottom: #807f7f solid;
}
nav a.actif:hover{
    text-decoration: none;
    color: black;
    border: inset ;
}
/* nav Fin */

/* footer Debut */
footer {
    display: flex;
    background-color: #a6c4c9;
    color: #e3ecee;
    font-size: 14px;
    padding-top: 2%;
    padding-bottom: 2%;
}
.boxLien{
    margin-right: 5%;
    margin-left: 20px;
    margin-top: 15px;
    width: 160px;
    height: 40px;
    display: flex;
}
.boxLien i{
    width: 45px;
    height: 45px;
    font-size: 36px;
    color: #16383d;
}
.boxLien i:hover{
    color: #e0f5f5;
}
#contact{
    max-width: 30%;
    margin-right: 5%;
}
#footerContent{
    margin: auto;
    max-width: 80%;
    max-height: 90%;
}
@media screen and (max-width:650px){
    #contact{
        margin: 35px auto;
        max-width: 50%;
    }
    #reseauxContact{
        margin: 35px auto;
    }
    .boxLien{
        margin: 35px auto;
    }
}
@media screen and (min-width:650px){
    #footerContent{
        display: flex;
    }
}
/* footer Fin */

/* ancre Debut */
.ancre{
    z-index: 3;
    margin-left: 40px;
    position:sticky;
    top: 80px;
}
/* ancre Fin */

/* image Debut */
#mairieIMG{
    position: absolute;
    left: 38%;
    max-width: 60%;
    z-index: 1;
}
#histoireIMG{
    max-width: 35%;
    max-height: 40%;
    position: relative;
    top: 50%;
    left: 10%;
    z-index: 1;
}
/* image Fin */

/* titre "decouvre histoire ..." Debut */
#firstTitle {
    position: absolute;
    top: 340px;
    left: 47%;
    color: white;
    font-size: 50px;
    background: linear-gradient(#8fadb989,#d3efef84);
    max-width: 38%;
    text-align: center;
    border-radius: 10px;
    padding: 0.4em;
    z-index: 2;
}
@media screen and (max-width:1024px){
    #firstTitle {
        top: 480px;
    }
}
/* titre "decouvre histoire ..." Fin */

#carreVert{
    background-color: #c9eded;
    z-index: -1;
    max-width:60%;
    height:800px;
    position:relative;
    top: 470px;
}

#carreOrange{
    background-color: #eab676;
    z-index: -1;
    width:40%;
    height:700px;
    position: absolute ;
    top: 2250px;
    left: 60%;
}

/* bock 1 Debut */
#block1{
    height: auto;
    max-width: 32%;
    background-color: #679aa2;
    position: absolute;
    top: 1150px;
    left: 50%;
    padding: 0 30px;
    border-radius: 15px;
    color: #192527;
}
#block1 h2{
    margin-bottom: 0;
    color: #c9eded;
    font-size: 35px;    
}
#block1 h3{
    margin-bottom: 0;
    color: #f1c40f;
    font-size: 35px;
}
#block1 a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    background-color: #c9eded;
    text-align: center;
    margin: 0 30% ;                          /* Marges externes */
    padding: 10px 40px;                      /* Marges internes */
    border-radius: 10px;

}
#block1 a:hover{
    background-color: #807f7f;
}
#block1 p{
    font-size: 19px;
    width: 80%;
}
#triangle-left{
    width  : 0;
    height : 0;
    border-top    : 25px solid transparent;
    border-bottom : 25px solid transparent;
    border-right  : 50px solid #679aa2;
    position: relative;
    bottom: 160px;
    right: 70px;
}
@media screen and (max-width:720px){        /* petit format / telephones */
    #block1{
        position:static;
        margin: 10%;
        padding-top: 4px;
        padding-bottom: 32px;
        max-width: 70%; 
    }
    #triangle-left{
        display: none;
    }
}
@media screen and (max-width:1200px) and (min-width:720px){        /* format moyen */
    #block1{
        position: absolute;
        top: 950px;
        left: 50%;
        max-width: 39% ;
    }
}
@media screen and (max-width:1500px) and (min-width:1200px){        /* grand format */
    #block1{
        position: absolute;
        top: 1050px;
        left: 50%;
        max-width: 40%;
    }
}
/* bock 1 Fin */

/* bock 2 Debut */
#block2{
    background-color: #e0f5f5;
    margin: 23% 0;
    margin-left: 20%;
    padding-top: 3%;
    padding-left: 6%;
    padding-bottom: 4%;
    max-width: 40%;
}
#block2 p{
    width: 32%;
    font-size: 18px;
    margin-bottom: 4%;
    font-family: Arial, Helvetica, sans-serif;
}
#block2 h3{
    font-family:'Times New Roman', Times, serif;
    font-size: 22px;
}
#block2 h2{
    font-family:'Times New Roman', Times, serif;
}
#block2 a{
    text-decoration: none;
    color: white;
    font-size: 17px;
    background-color: black;
    text-align: center;
    padding: 10px 40px;                      /* Marges internes */
    border-radius: 10px;

}
#block2 a:hover{
    background-color: #807f7f;
}
    
/* bock 2 Fin */

/* panneau defilant debut */
#panneauDefilant{
    display: flex;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 60%;
    background:linear-gradient(0deg,#5b2e2e92,#d3c3c37d) ;
}
#panneauDefilant h1{
    text-align: center;
    font-size: 38px;
    color: #7fa0aafb;
    height: 15%;
    margin-top: 6%;
}
#panneauDefilant p{
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-size: 28px;
    
    animation: swapLeft 2s;
    animation-fill-mode: forwards;
}
#zoneTexte{
    width: 93%;;
}

#flecheLeft{
    display: flex;
    height: 96%;
    margin: auto 1%;
}
#flecheLeft i{
    margin: auto 0;
    color: #ffffff;
}
#flecheLeft:hover{
    background: #100f0f1a;
}

#flecheRight{
    display: flex;
    height: 96%;
    margin: auto 1%;
}
#flecheRight i{
    margin: auto 0;
    color: #ffffff;
}
#flecheRight:hover{
    background: #100f0f1a;
}
/* panneau defilant Fin */

/* tableau Debut */
#topTable{
    background:#5c889c;
    color: #1b1f22;
    font-size: 35px;
    font-weight: bold;
    font-family: system-ui;
}
td{
    padding: 40px;
    margin: 0px; 
    font-size: 20px;
}
table{
    margin: 15% auto;
}
.borderTable{
    border-color: #cab641;
    border-style: dashed;
}
/* tableau Fin */

/* animation */
@keyframes swapLeft {

    from {
        margin-left: 60%;
        width: 40%;
    }

    100% {
        margin-left: 15%;
        width: 70%;
    }

}
@keyframes swapRight {

    from {
        margin-left: 0%;
        width: 40%;
    }

    100% {
        margin-left: 15%;
        width: 70%;
    }

}