
/* haut/header Debut */
header{
    display: flex;
    width: 90%;
    background: #fcfaf2;
    margin: 0 auto;                 /* Marges externes */
    margin-bottom: 1%;
    padding: 25px 55px;             /* Marges internes */
    position: sticky;
    top: 0;
    box-shadow: 5px 5px 5px 5px rgb(163, 144, 144);
    z-index: 6;
}
header h1{
    flex:auto;
    text-align: center;
    font-family: system-ui;
    font-size: 40px;
}
nav li{
    list-style-type: none;
    margin: 18px 0;
    font-size: 20px;
}
nav a{
    text-decoration: none;
    color: grey;
    padding: 0.4em;
}
nav a.actif{
    text-decoration: none;
    color: black;
    border: outset ;
}
nav a:hover{
    text-decoration: none;
    color: rgb(105, 91, 181);
    padding: 0.4em;
    border-bottom: #807f7f solid;
}
nav a.actif:hover{
    text-decoration: none;
    color: black;
    border: inset ;
}   
@media screen and (max-width:1024px) {
    header{
        display: block;
    }
    header i{
        text-align: center;
        width: 100%;
    }
}
/* haut/header Fin */


/* nav Debut */
nav{
    width: 7%;
    position: sticky;
    top: 150px;
    left: 70px;
}
nav li{
    list-style-type: none;
    margin: 18px 0;
    font-size: 20px;
}
nav a{
    text-decoration: none;
    color: grey;
    padding: 0.4em;
}
nav a.actif{
    text-decoration: none;
    color: black;
    border: outset ;
}
nav a:hover{
    text-decoration: none;
    color: rgb(105, 91, 181);
    padding: 0.4em;
    border-bottom: #807f7f solid;
}
nav a.actif:hover{
    text-decoration: none;
    color: black;
    border: inset ;
}
/* nav Fin */

/* ancre Debut */
.ancre{
    z-index: 3;
    margin-left: 40px;
    position:sticky;
    top: 80px;
}
/* ancre Fin */

/* footer Debut */
footer {
    display: flex;
    background-color: #a6c4c9;
    color: #e3ecee;
    font-size: 14px;
    padding-top: 2%;
    padding-bottom: 2%;
}
.boxLien{
    margin-right: 5%;
    margin-left: 20px;
    margin-top: 15px;
    width: 160px;
    height: 40px;
    display: flex;
}
.boxLien i{
    width: 45px;
    height: 45px;
    font-size: 36px;
    color: #16383d;
}
.boxLien i:hover{
    color: #e0f5f5;
}
#contact{
    max-width: 30%;
    margin-right: 5%;
}
#footerContent{
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    max-height: 90%;
}
@media screen and (max-width:650px){
    #contact{
        margin: 35px auto;
        max-width: 50%;
    }
    #reseauxContact{
        margin: 35px auto;
    }
    .boxLien{
        margin: 35px auto;
    }
}
@media screen and (min-width:650px){
    #footerContent{
        display: flex;
    }
}
/* footer Fin */

/* article debut */
#rgpd{
    border: solid black 3px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 60%;

    font-size: 20px;
    background-color: rgba(255, 0, 0, 0.452);
    font-style: italic;

    animation: 3s sponParLaDroite;
}
#rgpd p{
    animation: 3s sponp;
}

/* article fin */

@keyframes sponParLaDroite {

    from {
        margin-left: 70%;
    }

    100% {
        margin-left: 19%;
    }

}
@keyframes sponp {

    from {
        width: 40%;
    }

    100% {
        width: 100%;
    }

}