

/* haut/header Debut */
header{
    display: flex;
    width: 90%;
    background: #fcfaf2;
    margin: 0 auto;                 /* Marges externes */
    margin-bottom: 1%;
    padding: 25px 55px;             /* Marges internes */
    position: sticky;
    top: 0;
    box-shadow: 5px 5px 5px 5px rgb(163, 144, 144);
    z-index: 6;
}
header h1{
    flex:auto;
    text-align: center;
    font-family: system-ui;
    font-size: 40px;
}
nav li{
    list-style-type: none;
    margin: 18px 0;
    font-size: 20px;
}
nav a{
    text-decoration: none;
    color: grey;
    padding: 0.4em;
}
nav a.actif{
    text-decoration: none;
    color: black;
    border: outset ;
}
nav a:hover{
    text-decoration: none;
    color: rgb(105, 91, 181);
    padding: 0.4em;
    border-bottom: #807f7f solid;
}
nav a.actif:hover{
    text-decoration: none;
    color: black;
    border: inset ;
}
@media screen and (max-width:1024px) {
    header{
        display: block;
    }
    header i{
        text-align: center;
        width: 100%;
    }
}
/* haut/header Fin */


/* nav Debut 
nav{
    width: 7%;
    position: sticky;
    top: 20%;
}

nav Fin */


/* footer Debut */
footer {
    display: flex;
    background-color: #a6c4c9;
    color: #e3ecee;
    font-size: 14px;
    padding-top: 2%;
    padding-bottom: 2%;
}
.boxLien{
    margin-right: 5%;
    margin-left: 20px;
    margin-top: 15px;
    width: 160px;
    height: 40px;
    display: flex;
}
.boxLien i{
    width: 45px;
    height: 45px;
    font-size: 36px;
    color: #16383d;
}
.boxLien i:hover{
    color: #e0f5f5;
}
#contact{
    max-width: 30%;
    margin-right: 5%;
}
#footerContent{
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    max-height: 90%;
}
@media screen and (max-width:650px){
    #contact{
        margin: 35px auto;
        max-width: 50%;
    }
    #reseauxContact{
        margin: 35px auto;
    }
    .boxLien{
        margin: 35px auto;
    }
}
@media screen and (min-width:650px){
    #footerContent{
        display: flex;
    }
}
/* footer Fin */


/* main debut */
main{
    padding: 20px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
main h2{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    text-align: center;
}
main p{
    color: #616161;
}
.center{
    width: 70%;
    margin-top: 5%;
    margin-left: 15%;
    font-size: 19px;
}
#icone{
    margin-left: 45%;
    margin-top: 2%;
    color: #ab7a30;
}
main h4{
    margin-top: 6%;
    color:#382e96 ;
    font-size: 25px;
    width: 350px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.soulignement{
    text-decoration: none;
    background: linear-gradient(to top, rgba(255, 0, 0, 0.5) 0%, rgba(255, 0, 0, 0.5) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
    transition: background-size .5s;
}
.soulignement:hover {
    background-size: 100% 100%;
}
/* main Fin */  



/* image Debut */
#imgItineraire{
    width: 60%;
    margin-left: 20%;
}
/* image Fin */


/* ancre Debut */
.ancre{
    position:sticky;
    top: 25%;
    left: 94%;
}
/* ancre Fin */


/* block Debut */
.block{
    display: flex;
    margin-bottom: 10%;
}
.block img{
    z-index: -1;
    width: 300%;
    height: 100%;
}
.block aside{
    padding: 4%;
    position: relative;
    right: 100px;
    bottom: 10px;
    border-radius: 15px;
    background-color:#d0e8ec;
    height: 400px;
}
.block a{
    color: #ac7171;
}
/* block Fin */

/* blockG Debut */
.blockG{
    display: flex;
    margin-bottom: 10%;
}
.blockG img{
    z-index: -1;
    width: 150%;
    height: 600px;
}
.blockG aside{
    padding: 4%;
    position: relative;
    left: 150px;
    margin-bottom: auto;
    margin-top: auto;
    border-radius: 15px;
    background-color:#dcecd0;
    height: 250px;
}
.blockG a{
    color: #ac7171;
}
/* blockG Fin */

#hierogliphe{
    width: 100%;
    height: 30%;
}

#iut{
    width: 99%;
    margin: 2% auto;
    box-shadow: 4px 4px 5px rgb(179, 177, 177);
}

#eglise aside{
    margin-top: 18%;
    height: 300px;
}
.ombre0{
    box-shadow: 20px 15px 5px rgb(117, 116, 116);
}
.ombre1{
    box-shadow: -20px 15px 5px rgb(117, 116, 116);
}
#mairie img{
    height: 650px;
    width: 600px;
}
#mairie aside{
    height: 400px;
    width: 700px;
    right: 150px;
    background-color: #c9b5a6;
}

.divPourImage{
    display: flex;
    margin: 2% 0;
}
article img{
    margin-top: 25px;
}
aside {
    text-align: left;
    display: inline;
}
#premierDiv{
    display: flex;
    margin-top: 15px;
    margin-left: 15px;
}
article aside{
    display:inline;
    text-align: left;
    margin-left: 30px;
}